<%= render "shared/modal_wrapper", dialog_id: dialog_id, title: title do %>
  <%= render "shared/flash_messages" %>

  <%= form_with url: session_url, class: "contents flex flex-col gap-6" do |form| %>
    <%= render "shared/field_row",
      form: form,
      attribute: :email_address,
      label_text: "Email address",
      field_html: form.email_field(:email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", value: params[:email_address], class: form_input_classes) %>

    <div class="flex flex-row justify-between align-baseline sm:flex sm:items-center sm:gap-4 mt-4">
      <div>
        <%= form.submit submit_text, class: "w-full sm:w-auto text-center rounded-full px-4 py-3 bg-primary hover:bg-indigo-700 text-background inline-block font-medium cursor-pointer" %>
      </div>

      <% if note_html.present? %>
        <div class="text-content-muted sm:mt-0">
          <%= note_html %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
