<% mobile = local_assigns.fetch(:mobile, false) %>

<% link_class = navbar_link_class(mobile: mobile) %>

<% unless mobile %>
  <%= render "landing/logo" %>
<% end %>

<%= link_to "Graditude", product_path, class: link_class %>

<% if certificates_count.positive? %>
  <%= link_to certificates_path, class: link_class do %>
    <span>Certificates</span>

    <span class="ml-2 inline-flex items-center rounded-full bg-content-muted px-2.5 py-0.5 text-sm font-bold text-white"> <%= certificates_count %> </span>
  <% end %>
<% end %>

<%= render "landing/cart_nav_link", mobile: mobile, link_class: link_class %>

<% if Current.user&.affiliate_approved? %>
  <%= link_to "Affiliate", affiliate_path, class: link_class %>
<% end %>

<% if authenticated? %>
  <%= button_to "Sign out", session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, form: { class: "inline" }, class: link_class %>
<% else %>
  <%= link_to "Sign in", new_session_path, command: "show-modal", commandfor: "session-form", class: link_class %>
  <%= link_to "Sign up", new_signup_path, command: "show-modal", commandfor: "signup-form", class: link_class %>
<% end %>

<div class="mt-4 lg:mt-0">
  <%= dark_mode_toggle %>
</div>
