<section class="cart-page">
  <div class="mx-auto max-w-3xl px-4 py-16 sm:px-6 sm:py-24 lg:px-0 text-content">
    <div class="mt-12 bg-background-secondary px-8 py-4 rounded-lg shadow-sm space-y-4">
      <h1 class="text-center text-3xl sm:text-4xl py-8">Shopping Cart</h1>

      <section aria-labelledby="cart-heading">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

        <% if @cart.certificate_products.any? %>
          <ul role="list" class="divide-y divide-gray-400/50 border-t border-b border-gray-400/50">
            <% @cart.certificate_products.includes(:product, :certificate).each do |item| %>
              <li class="flex py-6">
                <div class="border border-gray-200/50 rounded-lg shadow-sm shrink-0 bg-white">
                  <%= image_tag "#{item.certificate.template}.png", alt: "#{item.product.title} thumbnail", class: "h-24 w-24 rounded-md object-contain sm:h-32 sm:w-32" %>
                </div>

                <div class="ml-4 flex flex-1 flex-col sm:ml-6">
                  <div>
                    <div class="flex justify-between">
                      <h3 class="text-lg">
                        <span class="font-medium"><%= item.product.title %></span>
                      </h3>

                      <p class="ml-4 text-sm"><%= number_to_currency(item.total_cents / 100.0, unit: "$", precision: 2) %></p>
                    </div>

                    <p class="mt-1 text-sm">For <%= item.certificate.honoree_name %>. <%= item.product.description %> </p>

                  </div>

                  <div class="mt-4 flex flex-1 items-end justify-between">
                    <p class="flex items-center space-x-2 text-sm text-success">
                      <svg viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 shrink-0">
                        <path d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" fill-rule="evenodd" />
                      </svg>

                      <span>In stock</span>
                    </p>
                    <div class="ml-4">
                      <%= button_to "Remove", cart_item_path(item), method: :delete, form: { class: "inline" }, class: "text-sm font-medium text-error" %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>

          <section aria-labelledby="summary-heading" class="mt-10">
            <h2 id="summary-heading" class="sr-only">Order summary</h2>

            <div>
              <dl class="space-y-4">
                <div class="flex items-center justify-between">
                  <dt class="text-lg font-medium">Subtotal</dt>
                  <dd class="ml-4 text-lg font-medium"><%= number_to_currency(@cart.total_cents / 100.0, unit: "$", precision: 2) %></dd>
                </div>
              </dl>

              <p class="mt-1 text-sm">Shipping and taxes will be calculated at checkout.</p>
            </div>

            <div class="mt-10">
              <a href="<%= new_checkout_path %>" class="w-full inline-flex items-center justify-center rounded-full border border-transparent bg-primary px-4 py-3 text-base font-medium text-background shadow-sm">Checkout</a>
            </div>

            <div class="mt-6 text-center text-sm">
              <p>
                or
                <%= link_to "Continue Shopping", certificates_path, class: "font-medium" %>
              </p>
            </div>
          </section>
        <% else %>
            <p class="text-center">Your cart is empty. Add a certificate and a product to continue.</p>
        <% end %>
      </section>
    </div>
  </div>
</section>
