<%= render "shared/modal_wrapper", dialog_id: "password-request-form", title: "Forgot your password?", close_path: request.referer || root_path do %>
  <%= render "shared/flash_messages" %>

  <%= form_with url: passwords_path, class: "contents flex flex-col gap-6" do |form| %>
    <%= render "shared/field_row",
      form: form,
      attribute: :email_address,
      label_text: "Email address",
      field_html: form.email_field(:email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: form_input_classes) %>

    <div class="inline">
      <%= form.submit "Email reset instructions", class: "w-full sm:w-auto text-center rounded-lg px-3.5 py-2.5 bg-blue-600 hover:bg-primary text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>
