<div data-controller="visibility">
  <%= render "form_modal", certificate: certificate %>

  <div class="flex flex-col md:flex-row justify-center gap-8" data-visibility-target="hideable">
    <%= form_with(url: new_checkout_path, data: { turbo: false }, method: :get) do |f| %>
      <input type="hidden" id="price_id" name="price_id" value="<%= checkout_price_id_for_template(certificate.template) %>" />
      <input type="hidden" id="certificate_id" name="certificate_id" value="<%= certificate.id %>" />
      <%= f.submit "Checkout", class: "w-full min-w-48 text-background dark:text-background sm:w-auto text-center rounded-md px-3 py-2 bg-primary/80 hover:bg-primary dark:bg-primary-dark/80 dark:hover:bg-primary-dark inline-block font-medium" %>
    <% end %>

    <% if show_edit %>
      <button command="show-modal" commandfor="certificate-form" class="w-full min-w-48 text-background dark:text-background sm:w-auto text-center rounded-md px-3 py-2 bg-primary/80 hover:bg-primary dark:bg-primary-dark/80 dark:hover:bg-primary-dark inline-block font-medium">Edit</button>
    <% end %>

    <%= button_to "✖︎ Delete", certificate, method: :delete, class: "w-full min-w-48 text-background dark:text-background sm:w-auto text-center rounded-md px-3 py-2 bg-secondary/80 hover:bg-secondary inline-block font-medium", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
