<%= form_with(model: certificate, class: "contents flex flex-col gap-6", data: { turbo: false }) do |form| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation" class="bg-error/20 text-error px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul class="list-disc ml-6">
        <% certificate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col lg:flex-row gap-4">
    <div class="flex flex-col w-full">
      <%= form.label :graduate_name, class: form_label_classes %>
      <%= form.text_field :graduate_name, class: form_input_classes(certificate), type: :search %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label :honoree_name, class: form_label_classes %>
      <%= form.text_field :honoree_name, class: form_input_classes(certificate), type: :search %>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row gap-4">
    <div class="flex flex-col w-full">
      <%= form.label :major, class: form_label_classes %>
      <%= form.text_field :major, class: form_input_classes(certificate), type: :search %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label :degree, class: form_label_classes %>
      <%= form.text_field :degree, class: form_input_classes(certificate), type: :search %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label "Graduation date", class: form_label_classes %>
      <%= form.text_field :presented_on, class: form_input_classes(certificate), type: :search %>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row gap-4">
    <div class="flex flex-col w-full">
      <%= form.label "Why", class: form_label_classes %>
      <%= form.select :nouns, options_for_select(@options_for_nouns, certificate.nouns), { include_blank: false }, {multiple: true, class: "h-30 #{form_input_classes(certificate)}"} %>
    </div>

    <div class="flex flex-col w-full">
      <%= form.label :message, class: form_label_classes %>
      <%= form.text_area :message, class: "h-30 #{form_input_classes(certificate)}" %>
    </div>
  </div>

  <%= form.hidden_field :signature_path, value: "givers_signature.png" %>
  <%= form.hidden_field :user_id, value: Current.user.id %>

  <div class="flex flex-col md:flex-row justify-center gap-8 my-8 text-background dark:text-background-dark">
    <%= form.submit "Save", class: "w-full min-w-48 sm:w-auto text-center rounded-md px-3 py-2 bg-primary/80 hover:bg-primary dark:bg-primary-dark/80 dark:hover:bg-primary-dark inline-block font-medium cursor-pointer" %>

    <button command="close" commandfor="certificate-form" type="button" class="w-full min-w-48 text-background dark:text-background-dark sm:w-auto text-center rounded-md px-3 py-2 bg-error/80 hover:bg-error inline-block font-medium">Close</button>
  </div>
<% end %>
