<% content_for :title do %>
  Certificate Preview
<% end %>

<div class="mx-auto flex flex-col gap-8 pt-6">
  <div class="flex flex-col justify-center items-center gap-8">
    <h1 class="font-headline text-3xl">Certificate for <%= @certificate.honoree_name %></h1>
    <% if (product = product_for_template(@certificate.template)) %>
      <p class="text-base font-medium text-gray-700 dark:text-gray-300">
        Current price: <%= formatted_stripe_price(product) %>
      </p>
    <% end %>
  </div>

  <%= render "shared/flash_messages" %>

  <%= render @certificate %>

  <%= render partial: "action_buttons", locals: {certificate: @certificate, show_edit: true} %>

</div>
